    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <footer class="fixed-bottom">
        <h6 class="text-white" style="font-size:9px;">&copy; Copyright 2020. All Rights reserved.</h6>
    </footer>

</body>
</html>
