<nav class="navbar">
    <a class="nav-brand" href="/">Home</a>

    <div class="nav-item">
        <a href="/project">Projects</a>
        <a href="/service">Services</a>
        <a href="/about">About Me</a>
        <a href="/contact">Contact</a>
    </div>
</nav>
