/* 
 * @file app.css
 * @author Allen Day / ZEZHAO DAI
 * @student_id 301136181
 * @date sept/30/2021
 */

*{
  padding: 0;
  margin: 0; 
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px; 
}
