/* 
 * @file project.css
 * @author Allen Day / ZEZHAO DAI
 * @student_id 301136181
 * @date sept/30/2021
 */

.card{
    position: relative;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.7);

    opacity: 0;
    transition: opacity 0.2s;

}



.card-overlay:hover{
    opacity: 1;
}

