<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>
<main>
    <div class="container" style="margin-top: 13em">

        <div class="shadow round p-5 bg-light rounded">
            <div>
                <h1 class="text-center mb-3">Contact Me</h1>
                <div>
                    <!-- Row -->
                    <div class="row m-5">
                        <!-- Col -->
                        <div class="col-sm" align="center">
                            <div>
                                <i class="fas fa-phone-square-alt fa-3x"></i>
                                <p>xxx-xxx-xxxx </p>
                            </div>

                            <div>
                                <i class="fas fa-envelope-square fa-3x"></i>
                                <p>xxx@xxx.com</p>
                            </div>

                            <div>
                                <a class="text-reset" href="https://github.com/allen-day" taget="_blank"><i class="fab fa-github fa-3x"></i>
                                <p>github.com/allen-day</p>
                                </a>
                            </div>
                        </div>

                        <!-- Col *form-->
                        <form class="col-sm " action="/secure" method="POST" align="center" autocomplete="off">
                            <div class="mb-4">
                                    <input class="form-control" name="name" type="text" placeholder="Name" required></input>
                            </div>
                            <div class="mb-4">
                                    <input class="form-control" name="phoneNumber" type="text" placeholder="Phone Number" required></input>
                            </div>
                            <div class="mb-4">
                                <input class="form-control" name="email" type="email" placeholder="Email" required></input>
                        </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">SEND</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
</main>

<%- include partials/footer.ejs %>
