<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>
<main>
    <div class="container text-white" style="margin-top: 13em">
        <div class="text-center">
            <h1>My Services</h1>
        </div>

        <div class="row" align="center" style="margin-top: 6em; margin-bottom: 11em;">
            <div class="col">
                <i class="fas fa-pencil-ruler fa-7x"></i> 
                <h2 class="mt-4">UI/UX</h2>
            </div>

            <div class="col">
                <i class="fab fa-wpforms fa-7x"></i>
                <h2 class="mt-4">Web development</h2>
            </div>

            <div class="col">
                <i class="fas fa-mobile fa-7x"></i>
                <h2 class="mt-4">Mobile development</h2>
            </div>

        </div>

        <div class="row" align="center">
            <a href="/contact" class="text-decoration-none text-white"><h1 class="m-0 p-0">Contact Me</h1></a>
            <i class="fas fa-arrow-right"></i>
        </div>

    </div>
</main>

<%- include partials/footer.ejs %>
